Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2022-08, with the labels that each got.

#147 docs: fix documentation links
  CHANGELOG.md
  README.md
  docs/index.md
Labels: documentation

#148 feat(ci): codeql static code analysis
  .github/workflows/codeql-analysis.yml
Labels: feature, github-actions

#150 ci: sync main with develop
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/codeql-analysis.yml
  CHANGELOG.md
  README.md
  docs/index.md
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, pending-release

#155 docs(home): add discord invitation link
  README.md
  docs/index.md
Labels: documentation
