Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-06, with the labels that each got.

#293 feat: Add ClearAllDimensions Method
  libraries/src/AWS.Lambda.Powertools.Metrics/IMetrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/Metadata.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDirective.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricsContext.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/ClearDimensionsTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
Labels: area/metrics, feature

#285 chore: Change repo URL to the new location
  .chglog/config.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dispatch_analytics.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_docs.yml
  CHANGELOG.md
  MAINTAINERS.md
  README.md
  apidocs/index.md
  apidocs/toc.yml
  docs/core/metrics.md
  docs/index.md
  docs/utilities/parameters.md
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/README.md
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/README.md
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/README.md
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/README.md
  mkdocs.yml
Labels: internal, do-not-merge

#291 docs: Update roadmap and maintainers
  .github/CODEOWNERS
  .github/auto_assign.yml
  .github/boring-cyborg.yml
  .github/release-drafter.yml
  MAINTAINERS.md
  docs/roadmap.md
Labels: documentation

#301 chore(docs): doc and readme updates
  .github/ISSUE_TEMPLATE/maintenance.yml
  CODEOWNERS
  README.md
  docs/index.md
  docs/utilities/idempotency.md
  docs/we_made_this.md
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  mkdocs.yml
Labels: documentation

#308 chore: update changelog with latest changes
  CHANGELOG.md
Labels: internal

#303 chore: remove GH pages
  .github/workflows/docs.yml
  .github/workflows/reusable_publish_docs.yml
Labels: internal

#287 docs: ASP.NET Core WebAPI example(s)
  .gitignore
  README.md
  docs/index.md
  examples/ServerlessApi/PowertoolsServerlessApiExample.sln
  examples/ServerlessApi/Readme.md
  examples/ServerlessApi/events/event.json
  examples/ServerlessApi/events/event_getById.json
  examples/ServerlessApi/src/LambdaPowertoolsAPI/Controllers/ValuesController.cs
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaEntryPoint.cs
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LocalEntryPoint.cs
  examples/ServerlessApi/src/LambdaPowertoolsAPI/Startup.cs
  examples/ServerlessApi/src/LambdaPowertoolsAPI/appsettings.Development.json
  examples/ServerlessApi/src/LambdaPowertoolsAPI/appsettings.json
  examples/ServerlessApi/src/LambdaPowertoolsAPI/aws-lambda-tools-defaults.json
  examples/ServerlessApi/src/LambdaPowertoolsAPI/samconfig.toml
  examples/ServerlessApi/src/LambdaPowertoolsAPI/template.yaml
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/SampleRequests/ValuesController-Get.json
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/ValuesControllerTests.cs
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/appsettings.json
Labels: documentation

#313 fix: Metrics Race condition if using Async calls
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDirective.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
Labels: bug, area/metrics, size/M, tests

#314 chore: Readme updates
  README.md
Labels: internal, size/M

#315 chore: update urls to new format. remove latest from .net url
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/PULL_REQUEST_TEMPLATE.md
  MAINTAINERS.md
  README.md
  apidocs/index.md
  apidocs/toc.yml
  docs/index.md
  docs/javascript/extra.js
  docs/roadmap.md
  libraries/src/AWS.Lambda.Powertools.Logging/README.md
  libraries/src/AWS.Lambda.Powertools.Metrics/README.md
  libraries/src/AWS.Lambda.Powertools.Parameters/README.md
  libraries/src/AWS.Lambda.Powertools.Tracing/README.md
Labels: documentation, area/metrics, area/logging, area/tracing, internal, github-templates, size/M, area/parameters

#298 docs: Parameters example
  examples/Parameters/.gitignore
  examples/Parameters/PowertoolsParametersExample.sln
  examples/Parameters/README.md
  examples/Parameters/cfn/HelloWorld.Cfn/CfnRequest.cs
  examples/Parameters/cfn/HelloWorld.Cfn/CfnResponse.cs
  examples/Parameters/cfn/HelloWorld.Cfn/Function.cs
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/aws-lambda-tools-defaults.json
  examples/Parameters/events/event.json
  examples/Parameters/omnisharp.json
  examples/Parameters/src/HelloWorld/Function.cs
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/src/HelloWorld/ParameterLookupHelper.cs
  examples/Parameters/src/HelloWorld/ParameterLookupRecord.cs
  examples/Parameters/src/HelloWorld/aws-lambda-tools-defaults.json
  examples/Parameters/template.yaml
  examples/Parameters/test/HelloWorld.Test/FunctionTest.cs
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/test/HelloWorld.Test/ParameterLookupTest.cs
Labels: documentation, internal, size/XXL, area/parameters

#300 docs: Add Idempotency example
  examples/Idempotency/.gitignore
  examples/Idempotency/PowertoolsIdempotencyExample.sln
  examples/Idempotency/README.md
  examples/Idempotency/events/event.json
  examples/Idempotency/src/HelloWorld/Function.cs
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/aws-lambda-tools-defaults.json
  examples/Idempotency/template.yaml
  examples/Idempotency/test/HelloWorld.Test/DynamoDbFixture.cs
  examples/Idempotency/test/HelloWorld.Test/FunctionTest.cs
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: area/idempotency

#317 chore: Create dependabot.yml to enable dependabot
  .github/dependabot.yml
Labels: internal, github-actions, size/S

#319 chore: Idempotency examples - Update AWSSDK.DynamoDBv2 version
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/XS

#320 chore: Bump logging version to fix idempotency example
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/XS

#324 chore: Update version.json
  version.json
Labels: internal, size/XS

#318 chore: Update dependabot.yml
  .github/dependabot.yml
Labels: internal, github-actions, size/XS
