Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-01, with the labels that each got.

#175 chore(docs): updated documentation
  .github/ISSUE_TEMPLATE/share_your_work.yml
  .github/ISSUE_TEMPLATE/support_powertools.yml
  docs/core/logging.md
  docs/core/metrics.md
  docs/index.md
  docs/javascript/extra.js
  docs/references.md
  docs/we_made_this.md
  mkdocs.yml
  poetry.lock
Labels: internal

#173 fix: updated logger casing env vars in samples
  examples/Logging/template-docker.yaml
  examples/Logging/template.yaml
  examples/Metrics/template-docker.yaml
  examples/Metrics/template.yaml
  examples/Tracing/template-docker.yaml
  examples/Tracing/template.yaml
Labels: bug, do-not-merge

#174 chore(ci): minor updates, licensing
  .github/ISSUE_TEMPLATE/config.yml
  .gitpod.yml
  .markdownlint.yaml
  CHANGELOG.md
  LICENSE-THIRD-PARTY
Labels: internal

#182 chore(ci): bumped version
  version.json
Labels: internal

#185 fix: update NuGet references for examples
  CHANGELOG.md
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: bug

#186 chore(ci): merge develop to main for NuGet references for examples update
  CHANGELOG.md
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal

#188 chore(ci): api docs build update
  .github/workflows/build.yml
  .github/workflows/docs.yml
  apidocs/docfx.json
  apidocs/index.md
  apidocs/toc.yml
Labels: internal
