Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-02, with the labels that each got.

#192 chore(docs): fix incorrect crefs
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggerProvider.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LoggerConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LoggerExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Serializer/JsonNamingPolicyDecorator.cs
Labels: internal, need-issue, do-not-merge

#194 chore - Update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: need-issue, do-not-merge

#195 chore: update dotnet sdk to 6.0.405
  .github/workflows/build.yml
  .github/workflows/docs.yml
  global.json
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
Labels: internal

#204 chore(ci): merging dev to main
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .github/workflows/docs.yml
  global.json
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggerProvider.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LoggerConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LoggerExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Serializer/JsonNamingPolicyDecorator.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
Labels: internal, do-not-merge

#202 bug: fix flaky test, add relaxed json escaping
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/PowertoolsLogger.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerTest.cs
Labels: bug

#193 chore - New maintenance issue template
  .github/ISSUE_TEMPLATE/maintenance.yml
Labels: need-issue, do-not-merge

#199 chore(ci): updating list of reviewers
  .github/auto_assign.yml
Labels: internal, need-issue, do-not-merge

#205 chore(ci): Adding additional maintenace fixes to main
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/auto_assign.yml
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/PowertoolsLogger.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerTest.cs
Labels: internal, need-issue, do-not-merge

#209 fix: Wrong metrics timestamp
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/Metadata.cs
Labels: bug

#210 docs(home): update powertools definition
  README.md
Labels: documentation, need-issue, do-not-merge

#208 fix: ColdStart capture warning
  examples/Metrics/src/HelloWorld/Function.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Internal/MetricsAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/MetricsAttribute.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
Labels: bug

#215 chore: Bump versions for release
  CHANGELOG.md
  docs/index.md
  version.json
Labels: internal

#216 chore: Sync main with develop
  CHANGELOG.md
  README.md
  docs/index.md
  examples/Metrics/src/HelloWorld/Function.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Internal/MetricsAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/MetricsAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/Metadata.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
  version.json
Labels: internal

#218 fix: update NuGet references for examples
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: bug, internal

#219 chore(ci): merge develop to main for NuGet references for examples update
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal
