Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-05, with the labels that each got.

#251 chore(governance): add Lambda Powertools for Python in issue templates
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
Labels: internal

#253 chore: Bump versions for release v1.1.0
  version.json
Labels: internal

#255 fix: Update PowertoolsEnvironmentTest.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/PowertoolsEnvironmentTest.cs
Labels: bug

#256 chore: Sync main with develop
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/PowertoolsEnvironmentTest.cs
Labels: internal

#226 feat: Support for High resolution metrics
  docs/core/metrics.md
  docs/media/metrics_utility_showcase.png
  libraries/src/AWS.Lambda.Powertools.Metrics/IMetrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/Metadata.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDefinition.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDirective.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricResolution.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricsContext.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
  mkdocs.yml
Labels: feature

#258 chore: Bump versions for release 1.2.0
  version.json
Labels: internal

#261 chore: Sync main with develop
  docs/core/metrics.md
  docs/media/metrics_utility_showcase.png
  libraries/src/AWS.Lambda.Powertools.Metrics/IMetrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/Metadata.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDefinition.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDirective.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricResolution.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricsContext.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
  mkdocs.yml
  version.json
Labels: internal

#262 chore: bump examples version to 1.2.0 release
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal

#266 chore: Sync main with develop
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal

#264 chore(ci): skip analytics on forks
  .github/workflows/dispatch_analytics.yml
Labels: internal

#167 feat: Add Parameters Utility
  README.md
  docs/core/logging.md
  docs/core/metrics.md
  docs/core/tracing.md
  docs/utilities/parameters.md
  libraries/AWS.Lambda.Powertools.sln
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj.DotSettings
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.PowerTools.Metrics.csproj.DotSettings
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/Cache/ICacheManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Cache/IDateTimeWrapper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Configuration/ParameterProviderConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Configuration/ParameterProviderConfigurationBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Configuration/ParameterProviderConfigurationExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/DynamoDB/DynamoDBProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/DynamoDB/IDynamoDBProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Cache/CacheManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Cache/CacheObject.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Cache/DateTimeWrapper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/IParameterProviderBaseHandler.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/IParameterProviderConfigurableClient.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/ParameterProviderBaseHandler.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/SimpleSystemsManagement/SsmProviderConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Transform/Base64Transformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Transform/JsonTransformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Transform/TransformerManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/InternalsVisibleTo.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/ParametersManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/IParameterProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/IParameterProviderGeneric.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProviderCacheMode.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProviderExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProviderGeneric.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/README.md
  libraries/src/AWS.Lambda.Powertools.Parameters/SecretsManager/ISecretsProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SecretsManager/SecretsProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SimpleSystemsManagement/ISsmProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SimpleSystemsManagement/SsmProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SimpleSystemsManagement/SsmProviderConfigurationBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/ITransformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/ITransformerManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/Transformation.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/TransformationException.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/AWS.Lambda.Powertools.Common.Tests.csproj.DotSettings
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AWS.Lambda.Powertools.Parameters.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Cache/CacheManagerTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Configuration/ParameterProviderConfigurationTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/DynamoDB/DynamoDBProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Provider/ParameterProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/SecretsManager/SecretsProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/SimpleSystemsManagement/SsmProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Transform/TransformerManagerTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Transform/TransformerTest.cs
  mkdocs.yml
Labels: feature

#269 chore: Sync main with develop
  .github/workflows/dispatch_analytics.yml
  README.md
  docs/core/logging.md
  docs/core/metrics.md
  docs/core/tracing.md
  docs/utilities/parameters.md
  libraries/AWS.Lambda.Powertools.sln
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj.DotSettings
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.PowerTools.Metrics.csproj.DotSettings
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/Cache/ICacheManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Cache/IDateTimeWrapper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Configuration/ParameterProviderConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Configuration/ParameterProviderConfigurationBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Configuration/ParameterProviderConfigurationExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/DynamoDB/DynamoDBProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/DynamoDB/IDynamoDBProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Cache/CacheManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Cache/CacheObject.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Cache/DateTimeWrapper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/IParameterProviderBaseHandler.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/IParameterProviderConfigurableClient.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/ParameterProviderBaseHandler.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/SimpleSystemsManagement/SsmProviderConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Transform/Base64Transformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Transform/JsonTransformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Transform/TransformerManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/InternalsVisibleTo.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/ParametersManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/IParameterProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/IParameterProviderGeneric.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProviderCacheMode.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProviderExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Provider/ParameterProviderGeneric.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/README.md
  libraries/src/AWS.Lambda.Powertools.Parameters/SecretsManager/ISecretsProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SecretsManager/SecretsProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SimpleSystemsManagement/ISsmProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SimpleSystemsManagement/SsmProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/SimpleSystemsManagement/SsmProviderConfigurationBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/ITransformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/ITransformerManager.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/Transformation.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Transform/TransformationException.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/AWS.Lambda.Powertools.Common.Tests.csproj.DotSettings
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AWS.Lambda.Powertools.Parameters.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Cache/CacheManagerTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Configuration/ParameterProviderConfigurationTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/DynamoDB/DynamoDBProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Provider/ParameterProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/SecretsManager/SecretsProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/SimpleSystemsManagement/SsmProviderTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Transform/TransformerManagerTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/Transform/TransformerTest.cs
  mkdocs.yml
  version.json
Labels: internal

#271 fix: parameters nuget icon
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
Labels: bug

#273 docs(parameter): adding required permission to SSM provider
  docs/utilities/parameters.md
Labels: documentation

#278 feat(docs): Start S3 Docs
  .github/workflows/docs.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/reusable_publish_docs.yml
  apidocs/docfx.json
Labels: feature

#276 chore(deps): update mkdocs configuration to support pymdown-extensions 10.0
  mkdocs.yml
Labels: bug, internal

#277 chore: update changelog with latest changes
  CHANGELOG.md
Labels: internal

#282 chore: rename project to Powertools for AWS Lambda (.NET)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/share_your_work.yml
  .github/ISSUE_TEMPLATE/support_powertools.yml
  CHANGELOG.md
  MAINTAINERS.md
  README.md
  apidocs/docfx.json
  apidocs/index.md
  apidocs/toc.yml
  docs/core/logging.md
  docs/core/metrics.md
  docs/core/tracing.md
  docs/index.md
  docs/references.md
  docs/roadmap.md
  docs/tenets.md
  docs/utilities/parameters.md
  docs/we_made_this.md
  examples/Logging/README.md
  examples/Logging/src/HelloWorld/Function.cs
  examples/Logging/template-docker.yaml
  examples/Logging/template.yaml
  examples/Logging/test/HelloWorld.Test/FunctionTest.cs
  examples/Metrics/README.md
  examples/Metrics/src/HelloWorld/Function.cs
  examples/Metrics/template-docker.yaml
  examples/Metrics/template.yaml
  examples/Metrics/test/HelloWorld.Test/FunctionTest.cs
  examples/Tracing/README.md
  examples/Tracing/src/HelloWorld/Function.cs
  examples/Tracing/template-docker.yaml
  examples/Tracing/template.yaml
  examples/Tracing/test/HelloWorld.Test/FunctionTest.cs
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj
  libraries/src/AWS.Lambda.Powertools.Common/Core/Constants.cs
  libraries/src/AWS.Lambda.Powertools.Common/README.md
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggingAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/PowertoolsConfigurations.cs
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/PowertoolsLogger.cs
  libraries/src/AWS.Lambda.Powertools.Logging/README.md
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/README.md
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/Provider/ParameterProviderBaseHandler.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/TracingAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/README.md
  mkdocs.yml
Labels: internal
