Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-07, with the labels that each got.

#349 feat: idempotent function
  docs/utilities/idempotency.md
  libraries/src/AWS.Lambda.Powertools.Idempotency/IdempotencyKeyAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/IdempotentAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Persistence/BasePersistenceStore.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyInternalFunction.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyInternalFunctionInternalKey.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyInternalFunctionInvalid.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyInternalFunctionVoid.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Internal/IdempotentAspectTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Internal/InMemoryPersistenceStore.cs
Labels: documentation, feature, size/L, tests, area/idempotency

#338 chore: Update boring-cyborg
  .github/boring-cyborg.yml
Labels: internal, github-actions, size/XS

#347 docs: Clarify why we currently prefer X-Ray over ADOT in Tracing
  docs/core/tracing.md
Labels: documentation, size/XS

#342 chore: Idempotency - refactor example to be simpler with a comparable idempotent output
  examples/Idempotency/src/HelloWorld/Function.cs
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/FunctionTest.cs
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: documentation, internal, size/L, area/idempotency
