Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-09, with the labels that each got.

#428 feat: Automatic Register XRay for all services
  docs/core/tracing.md
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/TracingAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Tracing.cs
Labels: documentation, area/tracing, feature, size/M

#430 chore: Update version release 1.6.0
  version.json
Labels: internal, size/XS

#431 chore: Sync develop to main
  .github/dependabot.yml
  docs/core/tracing.md
  docs/utilities/idempotency.md
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/TracingAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Tracing.cs
  mkdocs.yml
  version.json
Labels: documentation, area/tracing, internal, github-actions, size/L

#432 chore: Remove Parameters in preview warning
  docs/utilities/parameters.md
Labels: documentation, internal, size/XS

#433 chore: Remove Developer Preview from document
  README.md
  docs/index.md
  docs/tenets.md
Labels: documentation, internal, size/XS

#434 chore: Sync develop to main
  README.md
  docs/index.md
  docs/tenets.md
  docs/utilities/parameters.md
Labels: documentation, internal, size/S

#435 chore: bump examples NuGet versions
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/Function.cs
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/S

#437 chore: update changelog with latest changes
  CHANGELOG.md
Labels: internal, size/M

#453 chore: Sync develop to main
  CHANGELOG.md
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/Function.cs
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/M

#340 chore: Remove dependency of AWS.Lambda.Powertools.Common on all Utilities
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Build.props
  libraries/src/Directory.Build.targets
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/AWS.Lambda.Powertools.Common.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/AWS.Lambda.Powertools.Idempotency.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/AWS.Lambda.Powertools.Metrics.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AWS.Lambda.Powertools.Parameters.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/AWS.Lambda.Powertools.Tracing.Tests.csproj
  libraries/tests/Directory.Build.props
  libraries/tests/Directory.Packages.props
Labels: area/metrics, area/logging, area/tracing, internal, area/common, size/L, tests, area/idempotency, area/parameters

#464 chore: Update version release 1.7.0
  version.json
Labels: internal, need-issue, size/S

#465 chore: sync develop for release 1.7.0
  libraries/src/AWS.Lambda.Powertools.Common/AWS.Lambda.Powertools.Common.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Build.props
  libraries/src/Directory.Build.targets
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/AWS.Lambda.Powertools.Common.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/AWS.Lambda.Powertools.Idempotency.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/AWS.Lambda.Powertools.Metrics.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AWS.Lambda.Powertools.Parameters.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/AWS.Lambda.Powertools.Tracing.Tests.csproj
  libraries/tests/Directory.Build.props
  libraries/tests/Directory.Packages.props
  poetry.lock
  version.json
Labels: area/metrics, area/logging, area/tracing, internal, area/common, size/L, tests, area/idempotency, area/parameters

#475 chore: Disable dependabot.yml
  .github/dependabot.yml
Labels: internal, github-actions, size/L

#477 chore: Delete .github/dependabot.yml
  .github/dependabot.yml
Labels: internal, github-actions, size/M

#479 chore: Update examples 1.7.0
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/S

#480 fix: revert aspect and add tests
  .github/workflows/build.yml
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/examples.sln
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/PowertoolsEnvironmentTest.cs
Labels: bug, internal, github-actions, size/L, tests

#483 chore: Merge develop to main
  .github/dependabot.yml
  .github/workflows/build.yml
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/examples.sln
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/PowertoolsEnvironmentTest.cs
  version.json
Labels: internal, github-actions, size/L, tests

#484 chore: Update version for release 1.7.1
  version.json
Labels: size/S

#485 chore: Sync develop to main for release
  version.json
Labels: size/S

#489 chore: Include release for batch processing feature
  .github/ISSUE_TEMPLATE/maintenance.yml
  README.md
  docs/index.md
  version.json
Labels: documentation, internal, github-templates, size/S

#492 chore: update changelog with latest changes
  CHANGELOG.md
Labels: internal, size/M

#493 chore: Update Batch Processing examples. Update all dependencies
  examples/BatchProcessing/README.md
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/template-docker.yaml
  examples/BatchProcessing/template.yaml
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/examples.sln
Labels: internal, size/L

#494 chore: Sync develop to main post release
  CHANGELOG.md
  examples/BatchProcessing/README.md
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/template-docker.yaml
  examples/BatchProcessing/template.yaml
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/examples.sln
Labels: internal, size/L

#495 chore: Update projects readme for nuget
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/README.md
  libraries/src/AWS.Lambda.Powertools.Common/README.md
  libraries/src/AWS.Lambda.Powertools.Idempotency/README.md
  libraries/src/AWS.Lambda.Powertools.Logging/README.md
  libraries/src/AWS.Lambda.Powertools.Metrics/README.md
  libraries/src/AWS.Lambda.Powertools.Parameters/README.md
  libraries/src/AWS.Lambda.Powertools.Tracing/README.md
Labels: area/metrics, area/logging, area/tracing, internal, area/common, size/M, area/idempotency, area/parameters
