Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2023-08, with the labels that each got.

#357 fix: Stack trace lost when exception is thrown the when using decorator
  libraries/src/AWS.Lambda.Powertools.Common/Aspects/IMethodAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Common/Aspects/MethodAspectAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggingAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Internal/MetricsAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/TracingAspectHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Handlers/ExceptionFunctionHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Handlers/ExceptionFunctionHandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/ExceptionFunctionHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/ExceptionFunctionHandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/MetricsTests.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/AWS.Lambda.Powertools.Tracing.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/ExceptionFunctionHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/ExceptionFunctionHandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/TracingAttributeTest.cs
Labels: bug, area/metrics, area/logging, area/tracing, area/common, size/L, tests

#375 feat: Add bring your own log formatter to logger
  docs/core/logging.md
  libraries/src/AWS.Lambda.Powertools.Logging/ILogFormatter.cs
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/PowertoolsLogger.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LogEntry.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LogEntryLambdaContext.cs
  libraries/src/AWS.Lambda.Powertools.Logging/LogFormatException.cs
  libraries/src/AWS.Lambda.Powertools.Logging/Logger.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/LogFormatterTest.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerTest.cs
Labels: documentation, area/logging, feature, size/XL, tests

#381 chore: Update dependabot.yml examples
  .github/dependabot.yml
Labels: internal, github-actions, size/XS

#383 chore: Update version.json for release 1.4.2
  version.json
Labels: internal, size/S

#388 chore(deps): bump examples NuGet versions
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: internal, size/M

#389 chore: update nuget examples
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: internal, size/M

#397 chore: Update version release 1.5.0
  version.json
Labels: internal, size/XS

#398 chore: Sync dev to main
  docs/utilities/idempotency.md
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/Idempotency.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/IdempotentAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Internal/IdempotencyAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Persistence/BasePersistenceStore.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Persistence/DataRecord.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Persistence/DynamoDBPersistenceStore.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Persistence/IPersistenceStore.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyInternalFunction.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Internal/IdempotentAspectTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Persistence/BasePersistenceStoreTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Persistence/DynamoDBPersistenceStoreTests.cs
  version.json
Labels: documentation, internal, size/XL, tests, area/idempotency

#391 chore: Update dependabot.yml
  .github/dependabot.yml
Labels: internal, github-actions, size/M

#400 chore: include mermaid in mkdocs config. Fix identation and line numbers idempotency
  docs/utilities/idempotency.md
  mkdocs.yml
Labels: documentation, internal, size/M
