Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2024-08, with the labels that each got.

#625 chore: add caylent as a public reference
  README.md
  docs/index.md
Labels: documentation, internal, size/M

#633 chore: Add Pushpay as a public reference
  README.md
  docs/index.md
Labels: documentation, internal, size/XS

#632 chore: Fix Max depth serialization bug when using Batch RecordHanderResult and Tracing
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/RecordHandlerResult.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/TracingAspect.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/XRayRecorder.cs
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/Handlers.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/TracingAttributeTest.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/XRayRecorderTests.cs
Labels: area/tracing, internal, size/L, tests, area/batch

#635 chore(docs): load self hosted mermaid.js
  mkdocs.yml
Labels: documentation, internal, size/XS

#622 chore(docs): Updating tracing docs for typo
  docs/core/tracing.md
Labels: documentation, internal, size/XS

#637 chore: Sync Main with Develop release 1.13
  README.md
  docs/core/tracing.md
  docs/index.md
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/RecordHandlerResult.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/TracingAspect.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/XRayRecorder.cs
  libraries/src/Directory.Build.targets
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/Handlers.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/TracingAttributeTest.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/XRayRecorderTests.cs
  mkdocs.yml
Labels: documentation, area/tracing, internal, size/L, tests

#639 chore: fix docs missing closing tag
  docs/index.md
Labels: documentation, internal, size/XS

#641 chore: Change the way we reference Common and JMESPath (internal references).
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/AWS.Lambda.Powertools.BatchProcessing.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Build.targets
Labels: area/metrics, area/logging, area/tracing, internal, size/M, area/idempotency, area/parameters

#642 chore: sync main with dev for release 1.13
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/AWS.Lambda.Powertools.BatchProcessing.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Build.targets
Labels: area/metrics, area/logging, area/tracing, internal, size/M, area/idempotency, area/parameters
