Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2024-09, with the labels that each got.

#644 chore: Sync main and develop for release 1.13
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/AWS.Lambda.Powertools.BatchProcessing.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/AWS.Lambda.Powertools.Logging.csproj
  libraries/src/AWS.Lambda.Powertools.Metrics/AWS.Lambda.Powertools.Metrics.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Build.props
  libraries/src/Directory.Build.targets
Labels: area/metrics, area/logging, area/tracing, size/M, area/idempotency, area/parameters

#645 chore: Update examples for release 1..13
  examples/AOT/src/AOT/AOT.csproj
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/S

#649 chore: update logging aot docs
  docs/core/logging.md
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Formatter/LogFormatterTest.cs
Labels: documentation, internal, size/M, tests

#650 chore: Sync main with develop for relase 1.14
  docs/core/logging.md
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Formatter/LogFormatterTest.cs
Labels: documentation, internal, size/M, tests

#652 chore: update logging nuget package version v 1.6.0
  examples/AOT/AOT_Logging/src/AOT_Logging/AOT_Logging.csproj
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/S

#646 feat: New batch processing option: 'ThrowOnFullBatchFailure'
  docs/snippets/batch/templates/dynamodb.yaml
  docs/snippets/batch/templates/kinesis.yaml
  docs/snippets/batch/templates/sqs.yaml
  docs/utilities/batch-processing.md
  examples/BatchProcessing/src/HelloWorld/Function.cs
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/template.yaml
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/BatchProcessor.cs
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/BatchProcessorAttribute.cs
  libraries/src/AWS.Lambda.Powertools.BatchProcessing/ProcessingOptions.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/Constants.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/IPowertoolsConfigurations.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/PowertoolsConfigurations.cs
  libraries/tests/AWS.Lambda.Powertools.BatchProcessing.Tests/Handlers/SQS/Handler/HandlerFunction.cs
  libraries/tests/AWS.Lambda.Powertools.BatchProcessing.Tests/Handlers/SQS/HandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.BatchProcessing.Tests/Helpers/Helpers.cs
Labels: documentation, feature, area/common, size/XXL, tests
