Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2024-03, with the labels that each got.

#559 feat: Add AppConfig parameter provider
  docs/utilities/parameters.md
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/AppConfigProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/AppConfigProviderConfigurationBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/IAppConfigProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigDictionaryTransformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigFeatureFlagHelper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigJsonConfigurationParser.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigProviderCacheHelper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigProviderConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigResult.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/ParametersManager.cs
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AppConfig/AppConfigProviderTest.cs
Labels: documentation, feature, size/XXL, tests, area/parameters

#555 chore: Update examples to latest release
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: internal, size/S

#561 chore: Update NuGet packages to the latest
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.BatchProcessing.Tests/Helpers/Helpers.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
  libraries/tests/Directory.Packages.props
Labels: area/tracing, internal, size/L, tests, area/idempotency

#563 chore: Update version for release 1.9.0
  version.json
Labels: internal, size/S

#564 chore: update package versions for examples
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: internal, size/L

#566 chore: Sync main with develop
  docs/utilities/parameters.md
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  libraries/src/AWS.Lambda.Powertools.Idempotency/AWS.Lambda.Powertools.Idempotency.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AWS.Lambda.Powertools.Parameters.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/AppConfigProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/AppConfigProviderConfigurationBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/IAppConfigProvider.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigDictionaryTransformer.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigFeatureFlagHelper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigJsonConfigurationParser.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigProviderCacheHelper.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigProviderConfiguration.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/Internal/AppConfig/AppConfigResult.cs
  libraries/src/AWS.Lambda.Powertools.Parameters/ParametersManager.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/AWS.Lambda.Powertools.Tracing.csproj
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.BatchProcessing.Tests/Helpers/Helpers.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AppConfig/AppConfigProviderTest.cs
  libraries/tests/Directory.Packages.props
  version.json
Labels: documentation, area/tracing, internal, size/XXL, tests, area/idempotency, area/parameters

#565 chore: Update nuget examples
  .github/workflows/docs.yml
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/test/HelloWorld.Test/FunctionTest.cs
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: internal, github-actions, size/L

#567 chore: Sync main with develop
  .github/workflows/docs.yml
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/test/HelloWorld.Test/FunctionTest.cs
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
Labels: internal, github-actions, size/L

#569 chore(docs): Update docs and add supported runtimes
  README.md
  docs/index.md
Labels: documentation, internal, size/S

#572 fix: Error when decorating duplicate generic method - Tracing
  libraries/src/AWS.Lambda.Powertools.Common/Aspects/UniversalWrapperAspect.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/FunctionHandlerForGeneric.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/HandlerTests.cs
Labels: bug, area/common, size/M, tests

#574 chore: Sync main and develop release 1.9.1
  README.md
  docs/index.md
  libraries/src/AWS.Lambda.Powertools.Common/Aspects/UniversalWrapperAspect.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/FunctionHandlerForGeneric.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/HandlerTests.cs
Labels: documentation, internal, area/common, size/M, tests

#575 chore: Update version for release
  version.json
Labels: internal, size/XS

#576 chore: Sync dev to main for release 1.9.1
  version.json
Labels: size/XS
