Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2024-01, with the labels that each got.

#536 docs: we made this section update
  docs/media/we_made_this/rahul_nath_batch.png
  docs/media/we_made_this/rahul_nath_idempotency.png
  docs/media/we_made_this/rahul_nath_logging.png
  docs/media/we_made_this/rahul_nath_metrics.png
  docs/media/we_made_this/rahul_nath_parameters.png
  docs/media/we_made_this/rahul_nath_tracing.png
  docs/we_made_this.md
  mkdocs.yml
Labels: documentation, size/M

#537 chore: Sync main and dev - update docs
  docs/media/we_made_this/rahul_nath_batch.png
  docs/media/we_made_this/rahul_nath_idempotency.png
  docs/media/we_made_this/rahul_nath_logging.png
  docs/media/we_made_this/rahul_nath_metrics.png
  docs/media/we_made_this/rahul_nath_parameters.png
  docs/media/we_made_this/rahul_nath_tracing.png
  docs/we_made_this.md
  mkdocs.yml
Labels: documentation, internal, size/M

#544 chore: Update tracing.md - Auto-disable when not running in AWS Lambda environment
  docs/core/tracing.md
Labels: documentation, internal, size/XS

#542 chore: dotnet 8 support
  .github/workflows/build.yml
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/BatchProcessing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  global.json
  libraries/src/Directory.Build.props
  libraries/tests/AWS.Lambda.Powertools.BatchProcessing.Tests/AWS.Lambda.Powertools.BatchProcessing.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/AWS.Lambda.Powertools.Common.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/AWS.Lambda.Powertools.Idempotency.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/AWS.Lambda.Powertools.Logging.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/AWS.Lambda.Powertools.Metrics.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/AWS.Lambda.Powertools.Parameters.Tests.csproj
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/AWS.Lambda.Powertools.Tracing.Tests.csproj
  libraries/tests/Directory.Build.props
Labels: internal, github-actions, size/M, tests
