Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2025-09, with the labels that each got.

#971 chore(gitignore): add .kiro, .claude, .amazonq to prevent deletion
  .gitignore
Labels: internal, size/XS

#982 chore: Remove reference customer section from documentation
  docs/index.md
Labels: internal, size/S

#999 chore: update AWS SDK dependencies
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Kafka/Avro/src/Avro.csproj
  examples/Kafka/Json/src/Json.csproj
  examples/Kafka/JsonClassLibrary/src/ProtoBufClassLibrary.csproj
  examples/Kafka/Protobuf/src/Protobuf.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Logging/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/Parameters/cfn/HelloWorld.Cfn/HelloWorld.Cfn.csproj
  examples/Parameters/src/HelloWorld/HelloWorld.csproj
  examples/Parameters/test/HelloWorld.Test/HelloWorld.Tests.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/ServerlessApi/test/LambdaPowertoolsAPI.Tests/LambdaPowertoolsAPI.Tests.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  examples/Tracing/test/HelloWorld.Test/HelloWorld.Tests.csproj
  libraries/src/AWS.Lambda.Powertools.Parameters/AppConfig/AppConfigProvider.cs
  libraries/src/Directory.Packages.props
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/PowertoolsEnvironmentTest.cs
  libraries/tests/AWS.Lambda.Powertools.Parameters.Tests/SimpleSystemsManagement/SsmProviderTest.cs
  libraries/tests/Directory.Packages.props
  libraries/tests/e2e/functions/TestUtils/TestUtils.csproj
  libraries/tests/e2e/functions/core/logging/AOT-Function-ILogger/src/AOT-Function-ILogger/AOT-Function-ILogger.csproj
  libraries/tests/e2e/functions/core/logging/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/logging/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/core/metrics/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/core/tracing/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/tracing/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/core/tracing/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionHandlerTest/AOT-FunctionHandlerTest.csproj
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionMethodAttributeTest/AOT-FunctionMethodAttributeTest.csproj
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionPayloadSubsetTest/AOT-FunctionPayloadSubsetTest.csproj
  libraries/tests/e2e/functions/idempotency/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/idempotency/Function/test/Function.Tests/Function.Tests.csproj
Labels: internal, size/L, tests, area/parameters
