Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2025-01, with the labels that each got.

#681 chore: Exception logging to include inner exceptions
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/Converters/ExceptionConverter.cs
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/Converters/ExceptionPropertyExtractor.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerTest.cs
Labels: area/logging, internal, size/L, tests

#684 chore: Add end-to-end tests
  .github/workflows/build.yml
  .github/workflows/e2e-infra-deploy.yml
  .github/workflows/e2e-infra-destroy.yml
  .github/workflows/e2e-tests.yml
  libraries/AWS.Lambda.Powertools.sln
  libraries/tests/e2e/.gitignore
  libraries/tests/e2e/Directory.Build.props
  libraries/tests/e2e/Directory.Packages.props
  libraries/tests/e2e/Readme.md
  libraries/tests/e2e/functions/TestUtils/AssertDefaultLoggingProperties.cs
  libraries/tests/e2e/functions/TestUtils/FunctionConstructProps.cs
  libraries/tests/e2e/functions/TestUtils/OutputLogParser.cs
  libraries/tests/e2e/functions/TestUtils/TestUtils.csproj
  libraries/tests/e2e/functions/core/Core.sln
  libraries/tests/e2e/functions/core/logging/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/logging/AOT-Function/src/AOT-Function/Function.cs
  libraries/tests/e2e/functions/core/logging/AOT-Function/src/AOT-Function/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/core/logging/Function/src/Function/Function.cs
  libraries/tests/e2e/functions/core/logging/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/core/logging/Function/src/Function/TestHelper.cs
  libraries/tests/e2e/functions/core/logging/Function/src/Function/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/FunctionTest.cs
  libraries/tests/e2e/functions/core/metrics/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/metrics/AOT-Function/src/AOT-Function/Function.cs
  libraries/tests/e2e/functions/core/metrics/AOT-Function/src/AOT-Function/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/Function.cs
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/TestHelper.cs
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/FunctionTest.cs
  libraries/tests/e2e/functions/core/payload.json
  libraries/tests/e2e/functions/core/tracing/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/tracing/AOT-Function/src/AOT-Function/Function.cs
  libraries/tests/e2e/functions/core/tracing/AOT-Function/src/AOT-Function/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/core/tracing/Function/src/Function/Function.cs
  libraries/tests/e2e/functions/core/tracing/Function/src/Function/Function.csproj
  libraries/tests/e2e/functions/core/tracing/Function/src/Function/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/core/tracing/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/core/tracing/Function/test/Function.Tests/FunctionTest.cs
  libraries/tests/e2e/infra-aot/.gitignore
  libraries/tests/e2e/infra-aot/CoreAotStack.cs
  libraries/tests/e2e/infra-aot/FunctionConstruct.cs
  libraries/tests/e2e/infra-aot/GlobalSuppressions.cs
  libraries/tests/e2e/infra-aot/InfraAot.csproj
  libraries/tests/e2e/infra-aot/Program.cs
  libraries/tests/e2e/infra-aot/cdk.json
  libraries/tests/e2e/infra/CoreStack.cs
  libraries/tests/e2e/infra/FunctionConstruct.cs
  libraries/tests/e2e/infra/GlobalSuppressions.cs
  libraries/tests/e2e/infra/Infra.csproj
  libraries/tests/e2e/infra/Program.cs
  libraries/tests/e2e/infra/cdk.json
Labels: internal, github-actions, size/XXL, tests

#685 chore: Add workflow call to e2e tests
  .github/workflows/e2e-infra-deploy.yml
  .github/workflows/e2e-infra-destroy.yml
Labels: internal, github-actions, size/S

#686 chore: Update e2e-infra-deploy.yml
  .github/workflows/e2e-infra-deploy.yml
  .github/workflows/e2e-infra-destroy.yml
Labels: internal, github-actions, size/XS

#687 chore: Update e2e-infra-deploy.yml
  .github/workflows/e2e-infra-deploy.yml
Labels: internal, github-actions, size/XS

#688 chore: Update e2e-infra-deploy.yml
  .github/workflows/e2e-infra-deploy.yml
Labels: internal, github-actions, size/XS

#689 chore: Update e2e-infra-deploy.yml
  .github/workflows/e2e-infra-deploy.yml
Labels: internal, github-actions, size/M

#690 chore: Update e2e-infra-deploy.yml
  .github/workflows/e2e-infra-deploy.yml
Labels: internal, github-actions, size/XS

#691 chore: Update e2e-tests.yml
  .github/workflows/e2e-tests.yml
Labels: internal, github-actions, size/M

#692 chore: Add e2e tests
  .github/workflows/e2e-infra-deploy.yml
  .github/workflows/e2e-infra-destroy.yml
  .github/workflows/e2e-tests.yml
  libraries/tests/e2e/functions/core/logging/AOT-Function/src/AOT-Function/AOT-Function.csproj
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/FunctionTest.cs
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/Function.cs
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/FunctionTest.cs
  libraries/tests/e2e/functions/core/payload.json
  libraries/tests/e2e/functions/core/tracing/Function/test/Function.Tests/FunctionTest.cs
  libraries/tests/e2e/infra-aot/AOTStackProps.cs
  libraries/tests/e2e/infra-aot/CoreAotStack.cs
  libraries/tests/e2e/infra-aot/FunctionConstruct.cs
  libraries/tests/e2e/infra-aot/Program.cs
  libraries/tests/e2e/infra/FunctionConstruct.cs
Labels: internal, github-actions, size/L, tests

#695 chore: Update version.json
  version.json
Labels: size/XS

#696 chore: Sync main with develop for release 1.18
  version.json
Labels: size/XS

#698 fix: pin FluentAssertions NuGet version to prevent license issues
  libraries/tests/Directory.Packages.props
Labels: bug, need-issue, do-not-merge, size/XS, tests

#699 chore: Add Aot e2e tests for x86
  .github/workflows/e2e-tests.yml
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/FunctionTests.cs
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/FunctionTests.cs
  libraries/tests/e2e/functions/core/tracing/Function/test/Function.Tests/FunctionTests.cs
Labels: internal, github-actions, size/L, tests

#679 chore: Update dependencies for examples release 1.17
  examples/AOT/AOT_Logging/src/AOT_Logging/AOT_Logging.csproj
  examples/AOT/AOT_Tracing/src/AOT_Tracing/AOT_Tracing.csproj
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
Labels: dependencies, internal, size/S

#700 chore: Fix arm e2e aot
  .github/workflows/e2e-tests.yml
  libraries/tests/e2e/infra-aot/Program.cs
Labels: internal, github-actions, size/M, tests

#706 chore(ci): add dependabot file
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  docs/Dockerfile
Labels: documentation, internal, github-actions, size/S

#713 chore: Add concurrency to e2e workflow
  .github/workflows/e2e-tests.yml
Labels: internal, github-actions, size/XS

#720 chore: Only run on libraries folder changes
  .github/workflows/e2e-tests.yml
Labels: internal, github-actions, size/XS

#704 chore: Fix Service override on decorator
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggingAspect.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Attributes/LoggingAttributeTest.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Handlers/TestHandlers.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerTest.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/TestSetup.cs
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/FunctionTests.cs
Labels: area/logging, size/L, tests

#728 chore: add Logging Service property priority to docs
  docs/core/logging.md
Labels: documentation, internal, size/S

#729 chore: Sync main with develop for release 1.19
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/docs.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/record_pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/secure_workflows.yml
  docs/Dockerfile
  docs/core/logging.md
  examples/AOT/AOT_Logging/src/AOT_Logging/AOT_Logging.csproj
  examples/AOT/AOT_Tracing/src/AOT_Tracing/AOT_Tracing.csproj
  examples/BatchProcessing/src/HelloWorld/HelloWorld.csproj
  examples/Idempotency/src/HelloWorld/HelloWorld.csproj
  examples/Logging/src/HelloWorld/HelloWorld.csproj
  examples/Metrics/src/HelloWorld/HelloWorld.csproj
  examples/ServerlessApi/src/LambdaPowertoolsAPI/LambdaPowertoolsAPI.csproj
  examples/Tracing/src/HelloWorld/HelloWorld.csproj
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggingAspect.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Attributes/LoggingAttributeTest.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Handlers/TestHandlers.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerTest.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/TestSetup.cs
  libraries/tests/Directory.Packages.props
  libraries/tests/e2e/functions/core/logging/Function/test/Function.Tests/FunctionTests.cs
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/FunctionTests.cs
  libraries/tests/e2e/functions/core/tracing/Function/test/Function.Tests/FunctionTests.cs
  libraries/tests/e2e/infra-aot/Program.cs
  poetry.lock
  version.json
Labels: documentation, area/logging, internal, github-actions, size/XL, tests

#731 chore: Update test projects to no be packable
  libraries/tests/Directory.Build.props
  libraries/tests/e2e/Directory.Build.props
Labels: internal, size/XS, tests

#734 chore: Update api docs build to dotnet 8
  .github/workflows/docs.yml
Labels: internal, github-actions, size/XS
