Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2025-07, with the labels that each got.

#913 chore: Fix kafka dependencies
  examples/Kafka/Protobuf/src/Protobuf.csproj
  libraries/src/AWS.Lambda.Powertools.Kafka.Avro/AWS.Lambda.Powertools.Kafka.Avro.csproj
  libraries/src/AWS.Lambda.Powertools.Kafka.Avro/PowertoolsKafkaAvroSerializer.cs
  libraries/src/AWS.Lambda.Powertools.Kafka.Json/AWS.Lambda.Powertools.Kafka.Json.csproj
  libraries/src/AWS.Lambda.Powertools.Kafka.Json/PowertoolsKafkaJsonSerializer.cs
  libraries/src/AWS.Lambda.Powertools.Kafka.Protobuf/AWS.Lambda.Powertools.Kafka.Protobuf.csproj
  libraries/src/AWS.Lambda.Powertools.Kafka.Protobuf/PowertoolsKafkaProtobufSerializer.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/ConsumerRecord.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/ConsumerRecords.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/HeaderExtensions.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/InternalsVisibleTo.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/PowertoolsKafkaSerializerBase.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/SchemaMetadata.cs
  libraries/src/KafkaDependencies.props
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Avro/HandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Avro/PowertoolsKafkaAvroSerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/AvroErrorHandlingTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/HeaderExtensionsTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Json/PowertoolsKafkaJsonSerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/JsonErrorHandlingTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/JsonTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/KafkaHandlerFunctionalTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/PowertoolsKafkaSerializerBaseTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Protobuf/HandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Protobuf/PowertoolsKafkaProtobufSerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/ProtobufErrorHandlingTests.cs
  version.json
Labels: internal, size/XL, tests

#922 chore: update Kafka deserialization to use alias for ConsumerRecords
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Avro/HandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Avro/PowertoolsKafkaAvroSerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/AvroErrorHandlingTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Json/PowertoolsKafkaJsonSerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/JsonErrorHandlingTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/JsonTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/KafkaHandlerFunctionalTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Protobuf/HandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/Protobuf/PowertoolsKafkaProtobufSerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Kafka.Tests/ProtobufErrorHandlingTests.cs
Labels: internal, size/L, tests

#927 chore: Add missing PTENV to user agent
  libraries/src/AWS.Lambda.Powertools.Common/Core/ISystemWrapper.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/PowertoolsEnvironment.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/SystemWrapper.cs
  libraries/src/AWS.Lambda.Powertools.EventHandler.Resolvers.BedrockAgentFunction/BedrockAgentFunctionResolver.cs
  libraries/src/AWS.Lambda.Powertools.EventHandler/AppSyncEvents/AppSyncEventsResolver.cs
  libraries/src/AWS.Lambda.Powertools.Kafka/PowertoolsKafkaSerializerBase.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/PowertoolsEnvironmentTest.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/Core/SystemWrapperTests.cs
Labels: internal, area/common, size/XL, tests

#936 chore: Console output overrides lambda console out
  libraries/src/AWS.Lambda.Powertools.Common/Core/ConsoleWrapper.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/ConsoleWrapperTests.cs
Labels: internal, area/common, size/L, tests

#938 chore: Add automatic registration of standard logging services and ILogger
  docs/core/logging.md
  libraries/src/AWS.Lambda.Powertools.Logging/PowertoolsLoggingBuilderExtensions.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/PowertoolsLoggerExtensionsTests.cs
Labels: documentation, area/logging, internal, size/L, tests

#943 feat(metrics): Added runtime validation for the metric name
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/MetricsTests.cs
Labels: area/metrics, feature, size/S, tests
