Repository aws-powertools/powertools-lambda-dotnet, pull requests merged in 2025-02, with the labels that each got.

#741 chore: Tracing Sanitize SegmentName to avoid unsupported characters
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/Helpers.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/Internal/XRayRecorder.cs
  libraries/src/AWS.Lambda.Powertools.Tracing/TracingAttribute.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/Handlers/Handlers.cs
  libraries/tests/AWS.Lambda.Powertools.Tracing.Tests/TracingAttributeTest.cs
Labels: area/tracing, internal, size/M, tests

#653 chore: AOT support for Idempotency
  docs/utilities/idempotency.md
  libraries/AWS.Lambda.Powertools.sln
  libraries/src/AWS.Lambda.Powertools.Idempotency/Idempotency.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/IdempotencyOptionsBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/IdempotentAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Internal/IdempotencyAspectHandler.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Internal/Serializers/IdempotencySerializationContext.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Internal/Serializers/IdempotencySerializer.cs
  libraries/src/AWS.Lambda.Powertools.Idempotency/Persistence/BasePersistenceStore.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Serializers/JMESPathSerializationContext.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Serializers/JMESPathSerializer.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Values/DecimalValue.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Values/DoubleValue.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Values/JsonElementValue.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Values/ObjectValue.cs
  libraries/src/AWS.Lambda.Powertools.JMESPath/Values/StringValue.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyFunction.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Handlers/IdempotencyFunctionMethodDecorated.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/IdempotencyTest.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Internal/IdempotencySerializerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Internal/IdempotentAspectTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Internal/LRUCacheTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Model/TestClass.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Model/TestJsonSerializerContext.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/Persistence/BasePersistenceStoreTests.cs
  libraries/tests/AWS.Lambda.Powertools.Idempotency.Tests/TestSetup.cs
  libraries/tests/e2e/InfraShared/FunctionConstruct.cs
  libraries/tests/e2e/InfraShared/FunctionConstructProps.cs
  libraries/tests/e2e/InfraShared/IdempotencyStack.cs
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionHandlerTest/AOT-FunctionHandlerTest.csproj
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionHandlerTest/Function.cs
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionHandlerTest/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionMethodAttributeTest/AOT-FunctionMethodAttributeTest.csproj
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionMethodAttributeTest/Function.cs
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionMethodAttributeTest/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionPayloadSubsetTest/AOT-FunctionPayloadSubsetTest.csproj
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionPayloadSubsetTest/Function.cs
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionPayloadSubsetTest/TestHelperAOT.cs
  libraries/tests/e2e/functions/idempotency/AOT-Function/src/AOT-FunctionPayloadSubsetTest/aws-lambda-tools-defaults.json
  libraries/tests/e2e/functions/idempotency/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/idempotency/Function/test/Function.Tests/FunctionTests.cs
  libraries/tests/e2e/functions/idempotency/Function/test/Function.Tests/TestData.cs
Labels: documentation, internal, size/XXL, tests, aot, area/idempotency

#747 chore: Add privacy plugin to mkdocs
  mkdocs.yml
Labels: documentation, internal, size/XS

#743 chore: update versions for release 1.20
  version.json
Labels: internal, size/XS

#758 chore: Update docs Idempotency custom prefix
  docs/utilities/idempotency.md
Labels: documentation, internal, size/S

#757 chore: Roadmap 2025 update
  docs/roadmap.md
  mkdocs.yml
Labels: documentation, internal, size/M

#759 chore: Sync main with develop
  docs/roadmap.md
  docs/utilities/idempotency.md
  mkdocs.yml
Labels: documentation, size/L

#760 chore: Sync main with develop
  .github/workflows/dispatch_analytics.yml
  .github/workflows/docs.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/ossf_scorecard.yml
  .github/workflows/reusable_publish_docs.yml
Labels: internal, github-actions, size/S

#666 chore: FIx Metrics - Add missing array to wrap metrics array
  .gitignore
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/MetricsAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricDirective.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/ClearDimensionsTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/FunctionHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/FunctionHandlerTests.cs
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/TestHelper.cs
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/Function.Tests.csproj
  libraries/tests/e2e/functions/core/metrics/Function/test/Function.Tests/FunctionTests.cs
Labels: area/metrics, internal, size/L, tests

#774 fix(ci): Workflow permissions
  .github/workflows/e2e-tests.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/ossf_scorecard.yml
  Dockerfile
  package-lock.json
  package.json
Labels: internal, github-actions, size/M

#767 chore: Add sitemap to documentation website
  apidocs/docfx.json
  mkdocs.yml
Labels: documentation, internal, size/XS

#782 fix(ci): Permissions
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/reusable_export_pr_details.yml
Labels: internal, github-actions, size/S

#787 fix(ci): Indentation issue (on_label_added)
  .github/workflows/on_label_added.yml
Labels: bug, internal, github-actions, size/XS

#788 fix(ci): Add permissions to read issues and pull requests
  .github/workflows/on_merged_pr.yml
Labels: internal, github-actions, size/XS

#789 fix(ci): add write for issues
  .github/workflows/on_merged_pr.yml
Labels: internal, github-actions, size/XS

#771 chore: Feature/metrics default dimensions coldstart
  libraries/src/AWS.Lambda.Powertools.Metrics/IMetrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Internal/MetricsAspect.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/MetricsAttribute.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/MetricsBuilder.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/MetricsOptions.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/Metadata.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Model/MetricsContext.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/DefaultDimensionsHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/FunctionHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/FunctionHandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/MetricsnBuilderHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/MetricsTests.cs
  libraries/tests/e2e/functions/core/metrics/Function/src/Function/TestHelper.cs
Labels: area/metrics, internal, size/XXL, tests, v2

#780 chore: Metrics PushSingleMetric default dimensions
  docs/core/metrics-v2.md
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/EMFValidationTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/FunctionHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/FunctionHandlerTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/Handlers/MetricsnBuilderHandler.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/MetricsTests.cs
Labels: documentation, area/metrics, internal, github-actions, size/L, tests

#786 chore: Metrics disabled environment variable
  docs/core/metrics-v2.md
  libraries/src/AWS.Lambda.Powertools.Common/Core/Constants.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/IPowertoolsConfigurations.cs
  libraries/src/AWS.Lambda.Powertools.Common/Core/PowertoolsConfigurations.cs
  libraries/src/AWS.Lambda.Powertools.Metrics/Metrics.cs
  libraries/tests/AWS.Lambda.Powertools.Common.Tests/ConsoleWrapperTests.cs
  libraries/tests/AWS.Lambda.Powertools.Metrics.Tests/MetricsTests.cs
Labels: documentation, area/metrics, internal, github-actions, area/common, size/L, tests

#791 fix(logging): check if ILambdaContext is valid in LoggingLambdaContext.Extract
  libraries/src/AWS.Lambda.Powertools.Logging/Internal/LoggingLambdaContext.cs
  libraries/tests/AWS.Lambda.Powertools.Logging.Tests/Context/LambdaContextTest.cs
Labels: bug, area/logging, size/M, tests

#797 chore: Remove trailing comma
  version.json
Labels: internal, size/XS

#799 chore: Update GitHub workflows from main to develop
  .github/boring-cyborg.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  README.md
Labels: internal, github-actions, size/S
